<h1>Hello, <%= @user.username %>!</h1>

<h3>You are following:</h3>

<% @user.leaders.each do |leader| %>
  <%= leader.username %>
<% end %>

<h3>Your Pictures:</h3>
<div class="row">
  <% @user.pictures.each do |picture| %>
    <div class="col s6 m4">
      <div class="card hoverable">
        <div class="card-image">
          <%= link_to "<img src='#{picture.image.url}'><span class='card-title'>#{picture.name}</span>".html_safe, picture %>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a>
        </div>
        <div class="card-content">
          <p>this is default content</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add a picture", new_picture_path, class: "btn waves-effect waves-light" %>
