<h1>Hello, <%= @user.username %>!</h1>

<h3>Your Pictures:</h3>
<% @user.pictures.each do |picture| %>
  <%= link_to "<img src='#{picture.image_url}'>".html_safe, picture %>
<% end %>

<%= link_to "Or add a picture", new_picture_path %>
