<h2>All Images:</h2>
<% if flash[:notice].present? %>
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel red">
        <% flash[:notice].each do |message| %>
          <p class="white-text">
            <%= message %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="row grid">
  <% @pictures.sort_by { |picture| picture.favorited_by.count }.reverse.each do |picture| %>
    <% if !logged_in? || picture.user_id != current_user.id %>
      <%= render partial: "picture", locals: { picture: picture } %>
    <% end %>
  <% end %>
</div>
