/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
padding-top: 50px;
}
nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #556270;
}
nav, nav ul, nav a {
  margin: 0;
  list-style: none;
  color: #c7f464;
  text-decoration: none;
}
nav li {display: inline-block;}
nav a {
  transition: 0.2s ease-in-out;
  display: inline-block;
  padding: 5px 10px;
  width: 140px;
  text-align: center;
  border-left: 1px solid #5788bc;
}
nav a:hover {
  background-color: #3e6288;
}
.btn {
  transition: .2s linear;
  text-decoration: none;
  color: #c7f464;
  background-color: #556270;
  padding: 4px 8px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
}
.btn:hover {
  background-color: #4ecdc4;
  color: #c44d58;
}
.pictures-display {
  float: left;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
}
.category-display {
  list-style: none;
}
