@import "materialize";
@import "material_icons_unicode";
@import url('https://fonts.googleapis.com/css?family=Sarina');

$logo-font: 'Sarina', cursive;
$highlight-text-color: #c7f464;
$background-color: #556270;
@mixin flex-display {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin transition( $time ) {
  transition: $time linear;
}

#logo {
  font-family: $logo-font;
  font-size: 24px;
  margin-left: 20px;
  @include transition( 0.3s );
}
nav {
  @extend .blue-grey, .darken-2 ;
  @include transition( 0.3s );
  text-align: center;
  .row {
    margin-bottom: 0;
  }
  .left-bar {
    @include transition( 0.3s );
    border-left: 1px solid #5788bc;
  }
  .left-bar.col {
    padding: 0;
  }
  a {
    @include transition( 0.3s );
    text-align: center;
  }
  a:hover {
    @extend .lime-text, .text-accent-3 ;
  }
  form {
    .input-field {
      label:not(.label-icon).active {
        @extend .lime-text, .text-accent-3 ;
        -webkit-transform: translateY(25%) translateX(25%);
        transform: translateY(25%) translateX(25%);
        margin-right: 10px;
      }
      .prefix.active { @extend .lime-text, .text-accent-3 ;}
    }
    button {
      margin-left: 10px
    }
  }
}
.btn:hover {
  @extend .lime-text, .text-accent-3 ;
}
.hidden {
  display: none;
}
.card-image .card-title {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
}
.card .card-content {
  @extend .blue-grey, .darken-2 ;
  color: #fff;
}
.chip {
  cursor: pointer;
  @include transition( 0.3s );
  background-color: #26a69a;
  a {
    @include transition( 0.3s );
    color: #fff;
  }
}
.chip:hover {
  a {
    @extend .lime-text, .text-accent-3 ;
  }
  background-color: #2bbbad;
}
.slider .caption {
  h3 {display: inline-block; background-color: rgba(0,0,0,0.4); padding: 3px 20px;}
  a {display: block; margin: auto;}
}
.picture-title h4 {display:inline-block; margin-right:20px}
a i.pre-word {display: inline-block;}
a .post-pre-word {margin-left: 5px;}
.container {margin-bottom: 50px;}
