<h1><%= @category.name %></h1>

<div class="row grid">
  <% @category.pictures.each do |picture| %>
    <% if !logged_in? || picture.user_id != current_user.id %>
      <%= render partial: "picture", locals: { picture: picture } %>
    <% end %>
  <% end %>
</div>
